<section id="hero-section">
    <header id="hero-header">
        <img id="netflix-icon-image" src="../../../assets/images/netflix-ic.svg" alt="" srcset="" />
        <div>
            <select name="language" id="language-dropdown">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
            </select>
            <button id="sign-in-button">Sign In</button>
        </div>
    </header>
    <div id="hero-text-section">
        <div id="hero-section-box">
            <h1 class="hero-text">Unlimited movies, TV shows and more</h1>
            <h3 class="hero-text">Watch anywhere. Cancel anytime.</h3>
            <h4 class="hero-text">Ready to watch? Enter your email to create or restart your membership.</h4>
            <div id="search-div">
                <input type="email" placeholder="Email Address" name="email-text-box" id="email-input">
                <button id="get-started-button">Get Started</button>
            </div>
        </div>
    </div>
</section>